* {
    box-sizing: border-box;
}

/* TODO: build this to be fitted for mobile and add other rules for desktop*/

body, h1, h2, ul, li, a{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.nav-bar {
  background-color: darkgrey;
  display: block;
}

a {
  display: block;
  padding: 20px;
}

h1  {
  vertical-align: middle;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
header {
    position: fixed;
    width:100%;
    top:0;
}

nav a:hover {
    background: lightgrey;
}

.logo {
  /* TODO: background
  position: relative; probably don't need
   */
}

button {
  /* TODO: color
  position: absolute; probably don't need */
  border: 1px solid #fff;
  background: transparent;
}

.sub-menu {
  display: none;
  min-width: 100%;
  background: lightgrey;
}

/*
build framework structure
rows = .row

sections:
1.0 = mobile = .xs
2.0 = tablet = .md
3.0 = desktop - .lg

column = .col

mobile = .xs-33
         .xs-66
         .xs-50

         .xs-25
         .xs-75
         .xs-100

tablet = .md-33
         .md-66
         .md-50

         .md-25
         .md-75
         .md-100

desktop = .lg-33
         .lg-66
         .lg-50

         .lg-25
         .lg-75
         .lg-100
*/


/*=====================
section 1.0 mobile
=======================*/

@media screen and (max-width:767px) {
    .row {
        clear: both;
        overflow: hidden;
    }
    .col {
        float: left;
    }
    .mobile-collapse {
      display: none;
    }
    .xs-33 {
        width: 33.333333%;
    }
    .xs-66 {
        width: 66.66666%;
    }
    .xs-50 {
        width: 50%;
    }
    .xs-25 {
        width: 25%;
    }
    .xs-75 {
        width: 75%;
    }
    .xs-100 {
        width: 100%;
    }
}


/*=====================
section 2.0 tablet
=======================*/
/* TODO: hide nav button past this screen size
float nav ul's to the right
 */
@media screen and (min-width:768px) {
  li {
    display: inline-block;
  }
  .md-66 a {
    padding-top: 10%;
    padding-bottom: 20%;
  }
    .row {
        clear: both;
        overflow: hidden;
    }
    .col {
        float: left;
    }
    .mobile-collapse {
      float: right;
    }
    /*
    button {
      display: none;
    } */
    .md-0 {
        width: 0%;
        display: none;
    }
    .md-16 {
        width: 16.66666%;
    }
    .md-33 {
        width: 33.333333%;
    }
    .md-66 {
        width: 66.66666%;
    }
    .md-50 {
        width: 50%;
    }
    .md-25 {
        width: 25%;
    }
    .md-75 {
        width: 75%;
    }
    .md-100 {
        width: 100%;
    }
}


/*=====================
section 3.0 desktop
=======================*/

@media screen and (min-width:960px) {
  li {
    display: inline-block;
  }
    .row {
        clear: both;
        overflow: hidden;
    }
    .col {
        float: left;
    }
    .lg-16 {
        width: 16.66666%;
    }
    .lg-33 {
        width: 33.333333%;
    }
    .lg-66 {
        width: 66.66666%;
    }
    .lg-50 {
        width: 50%;
    }
    .lg-25 {
        width: 25%;
    }
    .lg-75 {
        width: 75%;
    }
    .lg-100 {
        width: 100%;
    }
}

/*
*/
